<md-card class="inactive" ng-model="item">
	<md-card-title ng-click="initPlayer($event)">
		<md-card-title-media >
			<script src="https://www.youtube.com/iframe_api" charset="utf-8"></script>
			<div id="atPlay{{itemId}}" class="md-media-md card-media">

			</div>
		</md-card-title-media>
		<md-card-title-text>
			<span class="md-title">{{item.description}}</span>
			<span class="md-subhead">{{item.videoUid}}</span>
		</md-card-title-text>
	</md-card-title>

	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-icon-button" aria-label="Remove video" ng-click="remove(item)">
			<md-icon md-svg-src="assets/ic_delete_forever_black_24px.svg"></md-icon>
			<!-- <md-tooltip md-direction="left" md-autohide="true">Remove video</md-tooltip> -->
		<!-- </md-button>
		<md-button class="md-icon-button" aria-label="Edit video description">
			<md-icon md-svg-src="assets/ic_mode_edit_black_24px.svg"></md-icon>
		</md-button> -->
	</md-card-actions>
</md-card>
